*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,rgba(32,40,119,0.95),rgba(55,46,149,0.95),rgba(83,49,177,0.90),rgba(114,48,205,0.85),rgba(150,41,230,0.95));
}
form{
    width:25rem;
    height:28rem;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.06);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    border-radius: 30px;
    border-left: 1px solid rgba(255,255,255,.3);
    border-top: 1px solid rgba(255,255,255,.3);

}
h1{
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
    letter-spacing: 3px;
    margin-top: 5%;
    opacity: .6;

}
label{
    font-size: 20px;
    color:white;
    opacity: .8;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
    
}
input{
    width:75%;
    margin:5% auto;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-bottom:1px solid rgba(255,255,255,0.6);
    opacity: .8;
}
button{
    width:50%;
    font-size: 15px;
    font-weight: bold;
    background: white;
    text-align: center;
    padding: 5px;
    margin:4% auto;
    border-radius: 30px;
    border: none;
    outline: none;


}
